// Package rundeck implements the Azure ARM Rundeck service API version 1.0.0.
//
//
package rundeck

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import (
    "context"
    "github.com/Azure/go-autorest/autorest"
    "github.com/Azure/go-autorest/autorest/azure"
    "github.com/Azure/go-autorest/autorest/validation"
    "github.com/Azure/go-autorest/tracing"
    "io"
    "net/http"
)

const (
// DefaultBaseURI is the default URI used for the service Rundeck
DefaultBaseURI = "/api/26")

// BaseClient is the base client for Rundeck.
type BaseClient struct {
    autorest.Client
    BaseURI string
}

// New creates an instance of the BaseClient client.
func New()BaseClient {
    return NewWithBaseURI(DefaultBaseURI, )
}

// NewWithBaseURI creates an instance of the BaseClient client.
func NewWithBaseURI(baseURI string, ) BaseClient {
    return BaseClient{
        Client: autorest.NewClientWithUserAgent(UserAgent()),
        BaseURI: baseURI,
    }
}

    // ExecutionBulkDelete sends the execution bulk delete request.
    func (client BaseClient) ExecutionBulkDelete(ctx context.Context, executionBulkDeleteRequest ExecutionBulkDeleteRequest) (result JobExecutionDelete, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ExecutionBulkDelete")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: executionBulkDeleteRequest,
                 Constraints: []validation.Constraint{	{Target: "executionBulkDeleteRequest.Ids", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("rundeck.BaseClient", "ExecutionBulkDelete", err.Error())
                }

                    req, err := client.ExecutionBulkDeletePreparer(ctx, executionBulkDeleteRequest)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionBulkDelete", nil , "Failure preparing request")
        return
        }

                resp, err := client.ExecutionBulkDeleteSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionBulkDelete", resp, "Failure sending request")
                return
                }

                result, err = client.ExecutionBulkDeleteResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionBulkDelete", resp, "Failure responding to request")
                }

        return
        }

        // ExecutionBulkDeletePreparer prepares the ExecutionBulkDelete request.
        func (client BaseClient) ExecutionBulkDeletePreparer(ctx context.Context, executionBulkDeleteRequest ExecutionBulkDeleteRequest) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/executions/delete"),
        autorest.WithJSON(executionBulkDeleteRequest))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ExecutionBulkDeleteSender sends the ExecutionBulkDelete request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ExecutionBulkDeleteSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ExecutionBulkDeleteResponder handles the response to the ExecutionBulkDelete request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ExecutionBulkDeleteResponder(resp *http.Response) (result JobExecutionDelete, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // ExecutionDelete sends the execution delete request.
    func (client BaseClient) ExecutionDelete(ctx context.Context, ID string) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ExecutionDelete")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ExecutionDeletePreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionDelete", nil , "Failure preparing request")
        return
        }

                resp, err := client.ExecutionDeleteSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionDelete", resp, "Failure sending request")
                return
                }

                result, err = client.ExecutionDeleteResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionDelete", resp, "Failure responding to request")
                }

        return
        }

        // ExecutionDeletePreparer prepares the ExecutionDelete request.
        func (client BaseClient) ExecutionDeletePreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsDelete(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/execution/{id}",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ExecutionDeleteSender sends the ExecutionDelete request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ExecutionDeleteSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ExecutionDeleteResponder handles the response to the ExecutionDelete request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ExecutionDeleteResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusNoContent),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // ExecutionInputFilesList sends the execution input files list request.
    func (client BaseClient) ExecutionInputFilesList(ctx context.Context, ID string) (result ExecutionInputFilesListOKResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ExecutionInputFilesList")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ExecutionInputFilesListPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionInputFilesList", nil , "Failure preparing request")
        return
        }

                resp, err := client.ExecutionInputFilesListSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionInputFilesList", resp, "Failure sending request")
                return
                }

                result, err = client.ExecutionInputFilesListResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionInputFilesList", resp, "Failure responding to request")
                }

        return
        }

        // ExecutionInputFilesListPreparer prepares the ExecutionInputFilesList request.
        func (client BaseClient) ExecutionInputFilesListPreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/execution/{id}/input/files",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ExecutionInputFilesListSender sends the ExecutionInputFilesList request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ExecutionInputFilesListSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ExecutionInputFilesListResponder handles the response to the ExecutionInputFilesList request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ExecutionInputFilesListResponder(resp *http.Response) (result ExecutionInputFilesListOKResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // ExecutionListRunning sends the execution list running request.
        // Parameters:
            // project - project name or * for all projects
    func (client BaseClient) ExecutionListRunning(ctx context.Context, project string) (result ExecutionList, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ExecutionListRunning")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ExecutionListRunningPreparer(ctx, project)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionListRunning", nil , "Failure preparing request")
        return
        }

                resp, err := client.ExecutionListRunningSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionListRunning", resp, "Failure sending request")
                return
                }

                result, err = client.ExecutionListRunningResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionListRunning", resp, "Failure responding to request")
                }

        return
        }

        // ExecutionListRunningPreparer prepares the ExecutionListRunning request.
        func (client BaseClient) ExecutionListRunningPreparer(ctx context.Context, project string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "project": autorest.Encode("path",project),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/project/{project}/executions/running",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ExecutionListRunningSender sends the ExecutionListRunning request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ExecutionListRunningSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ExecutionListRunningResponder handles the response to the ExecutionListRunning request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ExecutionListRunningResponder(resp *http.Response) (result ExecutionList, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // ExecutionQuery sends the execution query request.
        // Parameters:
            // statusFilter -
            // abortedbyFilter - username who aborted an execution
            // userFilter - username who started the execution
            // recentFilter - use a simple text format to filter executions that completed within a period of time. The
            // format is “XY” where X is an integer, and “Y” is one of:
            // * h: hour
            // * d: day
            // olderFilter - (same format as recentFilter) return executions that completed before the specified relative
            // period of time
            // begin - specify exact date for earliest execution completion time
    func (client BaseClient) ExecutionQuery(ctx context.Context, project string, statusFilter string, abortedbyFilter string, userFilter string, recentFilter string, olderFilter string, begin string, adhoc *bool) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ExecutionQuery")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ExecutionQueryPreparer(ctx, project, statusFilter, abortedbyFilter, userFilter, recentFilter, olderFilter, begin, adhoc)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionQuery", nil , "Failure preparing request")
        return
        }

                resp, err := client.ExecutionQuerySender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionQuery", resp, "Failure sending request")
                return
                }

                result, err = client.ExecutionQueryResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionQuery", resp, "Failure responding to request")
                }

        return
        }

        // ExecutionQueryPreparer prepares the ExecutionQuery request.
        func (client BaseClient) ExecutionQueryPreparer(ctx context.Context, project string, statusFilter string, abortedbyFilter string, userFilter string, recentFilter string, olderFilter string, begin string, adhoc *bool) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "project": autorest.Encode("path",project),
                }

                        queryParameters := map[string]interface{} {
            }
                if len(string(statusFilter)) > 0 {
                queryParameters["statusFilter"] = autorest.Encode("query",statusFilter)
                }
                if len(abortedbyFilter) > 0 {
                queryParameters["abortedbyFilter"] = autorest.Encode("query",abortedbyFilter)
                }
                if len(userFilter) > 0 {
                queryParameters["userFilter"] = autorest.Encode("query",userFilter)
                }
                if len(recentFilter) > 0 {
                queryParameters["recentFilter"] = autorest.Encode("query",recentFilter)
                }
                if len(olderFilter) > 0 {
                queryParameters["olderFilter"] = autorest.Encode("query",olderFilter)
                }
                if len(begin) > 0 {
                queryParameters["begin"] = autorest.Encode("query",begin)
                }
                if adhoc != nil {
                queryParameters["adhoc"] = autorest.Encode("query",*adhoc)
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/project/{project}/executions",pathParameters),
        autorest.WithQueryParameters(queryParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ExecutionQuerySender sends the ExecutionQuery request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ExecutionQuerySender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ExecutionQueryResponder handles the response to the ExecutionQuery request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ExecutionQueryResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // ExecutionStateGet sends the execution state get request.
    func (client BaseClient) ExecutionStateGet(ctx context.Context, ID string) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ExecutionStateGet")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ExecutionStateGetPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionStateGet", nil , "Failure preparing request")
        return
        }

                resp, err := client.ExecutionStateGetSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionStateGet", resp, "Failure sending request")
                return
                }

                result, err = client.ExecutionStateGetResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionStateGet", resp, "Failure responding to request")
                }

        return
        }

        // ExecutionStateGetPreparer prepares the ExecutionStateGet request.
        func (client BaseClient) ExecutionStateGetPreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/execution/{id}/state",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ExecutionStateGetSender sends the ExecutionStateGet request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ExecutionStateGetSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ExecutionStateGetResponder handles the response to the ExecutionStateGet request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ExecutionStateGetResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // ExecutionStatusGet sends the execution status get request.
    func (client BaseClient) ExecutionStatusGet(ctx context.Context, ID string) (result Execution, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ExecutionStatusGet")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ExecutionStatusGetPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionStatusGet", nil , "Failure preparing request")
        return
        }

                resp, err := client.ExecutionStatusGetSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionStatusGet", resp, "Failure sending request")
                return
                }

                result, err = client.ExecutionStatusGetResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ExecutionStatusGet", resp, "Failure responding to request")
                }

        return
        }

        // ExecutionStatusGetPreparer prepares the ExecutionStatusGet request.
        func (client BaseClient) ExecutionStatusGetPreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/execution/{id}",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ExecutionStatusGetSender sends the ExecutionStatusGet request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ExecutionStatusGetSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // ExecutionStatusGetResponder handles the response to the ExecutionStatusGet request. The method always
    // closes the http.Response Body.
    func (client BaseClient) ExecutionStatusGetResponder(resp *http.Response) (result Execution, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobBulkDelete sends the job bulk delete request.
    func (client BaseClient) JobBulkDelete(ctx context.Context, jobBulkDeleteRequest JobBulkDeleteRequest) (result JobBulkOperationResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobBulkDelete")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: jobBulkDeleteRequest,
                 Constraints: []validation.Constraint{	{Target: "jobBulkDeleteRequest.Ids", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("rundeck.BaseClient", "JobBulkDelete", err.Error())
                }

                    req, err := client.JobBulkDeletePreparer(ctx, jobBulkDeleteRequest)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobBulkDelete", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobBulkDeleteSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobBulkDelete", resp, "Failure sending request")
                return
                }

                result, err = client.JobBulkDeleteResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobBulkDelete", resp, "Failure responding to request")
                }

        return
        }

        // JobBulkDeletePreparer prepares the JobBulkDelete request.
        func (client BaseClient) JobBulkDeletePreparer(ctx context.Context, jobBulkDeleteRequest JobBulkDeleteRequest) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/jobs/delete"),
        autorest.WithJSON(jobBulkDeleteRequest))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobBulkDeleteSender sends the JobBulkDelete request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobBulkDeleteSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobBulkDeleteResponder handles the response to the JobBulkDelete request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobBulkDeleteResponder(resp *http.Response) (result JobBulkOperationResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobDelete sends the job delete request.
        // Parameters:
            // ID - ID of job to delete.
    func (client BaseClient) JobDelete(ctx context.Context, ID string) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobDelete")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobDeletePreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobDelete", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobDeleteSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobDelete", resp, "Failure sending request")
                return
                }

                result, err = client.JobDeleteResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobDelete", resp, "Failure responding to request")
                }

        return
        }

        // JobDeletePreparer prepares the JobDelete request.
        func (client BaseClient) JobDeletePreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsDelete(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobDeleteSender sends the JobDelete request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobDeleteSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobDeleteResponder handles the response to the JobDelete request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobDeleteResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusNoContent,http.StatusNotFound),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // JobExecutionBulkDisable sends the job execution bulk disable request.
    func (client BaseClient) JobExecutionBulkDisable(ctx context.Context, jobExecutionBulkDisableRequest JobExecutionBulkDisableRequest) (result JobBulkOperationResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobExecutionBulkDisable")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: jobExecutionBulkDisableRequest,
                 Constraints: []validation.Constraint{	{Target: "jobExecutionBulkDisableRequest.Ids", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("rundeck.BaseClient", "JobExecutionBulkDisable", err.Error())
                }

                    req, err := client.JobExecutionBulkDisablePreparer(ctx, jobExecutionBulkDisableRequest)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionBulkDisable", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobExecutionBulkDisableSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionBulkDisable", resp, "Failure sending request")
                return
                }

                result, err = client.JobExecutionBulkDisableResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionBulkDisable", resp, "Failure responding to request")
                }

        return
        }

        // JobExecutionBulkDisablePreparer prepares the JobExecutionBulkDisable request.
        func (client BaseClient) JobExecutionBulkDisablePreparer(ctx context.Context, jobExecutionBulkDisableRequest JobExecutionBulkDisableRequest) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/jobs/execution/disable"),
        autorest.WithJSON(jobExecutionBulkDisableRequest))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobExecutionBulkDisableSender sends the JobExecutionBulkDisable request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobExecutionBulkDisableSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobExecutionBulkDisableResponder handles the response to the JobExecutionBulkDisable request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobExecutionBulkDisableResponder(resp *http.Response) (result JobBulkOperationResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobExecutionBulkEnable sends the job execution bulk enable request.
    func (client BaseClient) JobExecutionBulkEnable(ctx context.Context, jobExecutionBulkEnableRequest JobExecutionBulkEnableRequest) (result JobBulkOperationResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobExecutionBulkEnable")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: jobExecutionBulkEnableRequest,
                 Constraints: []validation.Constraint{	{Target: "jobExecutionBulkEnableRequest.Ids", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("rundeck.BaseClient", "JobExecutionBulkEnable", err.Error())
                }

                    req, err := client.JobExecutionBulkEnablePreparer(ctx, jobExecutionBulkEnableRequest)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionBulkEnable", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobExecutionBulkEnableSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionBulkEnable", resp, "Failure sending request")
                return
                }

                result, err = client.JobExecutionBulkEnableResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionBulkEnable", resp, "Failure responding to request")
                }

        return
        }

        // JobExecutionBulkEnablePreparer prepares the JobExecutionBulkEnable request.
        func (client BaseClient) JobExecutionBulkEnablePreparer(ctx context.Context, jobExecutionBulkEnableRequest JobExecutionBulkEnableRequest) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/jobs/execution/enable"),
        autorest.WithJSON(jobExecutionBulkEnableRequest))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobExecutionBulkEnableSender sends the JobExecutionBulkEnable request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobExecutionBulkEnableSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobExecutionBulkEnableResponder handles the response to the JobExecutionBulkEnable request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobExecutionBulkEnableResponder(resp *http.Response) (result JobBulkOperationResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobExecutionDeleteMethod sends the job execution delete method request.
        // Parameters:
            // ID - job ID
    func (client BaseClient) JobExecutionDeleteMethod(ctx context.Context, ID int32) (result JobExecutionDelete, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobExecutionDeleteMethod")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobExecutionDeleteMethodPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionDeleteMethod", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobExecutionDeleteMethodSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionDeleteMethod", resp, "Failure sending request")
                return
                }

                result, err = client.JobExecutionDeleteMethodResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionDeleteMethod", resp, "Failure responding to request")
                }

        return
        }

        // JobExecutionDeleteMethodPreparer prepares the JobExecutionDeleteMethod request.
        func (client BaseClient) JobExecutionDeleteMethodPreparer(ctx context.Context, ID int32) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsDelete(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/executions",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobExecutionDeleteMethodSender sends the JobExecutionDeleteMethod request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobExecutionDeleteMethodSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobExecutionDeleteMethodResponder handles the response to the JobExecutionDeleteMethod request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobExecutionDeleteMethodResponder(resp *http.Response) (result JobExecutionDelete, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusNoContent),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobExecutionDisable sends the job execution disable request.
    func (client BaseClient) JobExecutionDisable(ctx context.Context, ID string) (result JobExecutionDisableOKResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobExecutionDisable")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobExecutionDisablePreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionDisable", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobExecutionDisableSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionDisable", resp, "Failure sending request")
                return
                }

                result, err = client.JobExecutionDisableResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionDisable", resp, "Failure responding to request")
                }

        return
        }

        // JobExecutionDisablePreparer prepares the JobExecutionDisable request.
        func (client BaseClient) JobExecutionDisablePreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/execution/disable",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobExecutionDisableSender sends the JobExecutionDisable request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobExecutionDisableSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobExecutionDisableResponder handles the response to the JobExecutionDisable request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobExecutionDisableResponder(resp *http.Response) (result JobExecutionDisableOKResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobExecutionEnable sends the job execution enable request.
    func (client BaseClient) JobExecutionEnable(ctx context.Context, ID string) (result JobExecutionEnableOKResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobExecutionEnable")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobExecutionEnablePreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionEnable", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobExecutionEnableSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionEnable", resp, "Failure sending request")
                return
                }

                result, err = client.JobExecutionEnableResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionEnable", resp, "Failure responding to request")
                }

        return
        }

        // JobExecutionEnablePreparer prepares the JobExecutionEnable request.
        func (client BaseClient) JobExecutionEnablePreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/execution/enable",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobExecutionEnableSender sends the JobExecutionEnable request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobExecutionEnableSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobExecutionEnableResponder handles the response to the JobExecutionEnable request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobExecutionEnableResponder(resp *http.Response) (result JobExecutionEnableOKResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobExecutionList sends the job execution list request.
        // Parameters:
            // ID - job ID
    func (client BaseClient) JobExecutionList(ctx context.Context, ID string) (result ExecutionList, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobExecutionList")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobExecutionListPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionList", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobExecutionListSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionList", resp, "Failure sending request")
                return
                }

                result, err = client.JobExecutionListResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionList", resp, "Failure responding to request")
                }

        return
        }

        // JobExecutionListPreparer prepares the JobExecutionList request.
        func (client BaseClient) JobExecutionListPreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/executions",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobExecutionListSender sends the JobExecutionList request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobExecutionListSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobExecutionListResponder handles the response to the JobExecutionList request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobExecutionListResponder(resp *http.Response) (result ExecutionList, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobExecutionRun sends the job execution run request.
        // Parameters:
            // ID - job ID
    func (client BaseClient) JobExecutionRun(ctx context.Context, ID int32, request *ExecuteJobRequest) (result ExecutionList, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobExecutionRun")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobExecutionRunPreparer(ctx, ID, request)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionRun", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobExecutionRunSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionRun", resp, "Failure sending request")
                return
                }

                result, err = client.JobExecutionRunResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobExecutionRun", resp, "Failure responding to request")
                }

        return
        }

        // JobExecutionRunPreparer prepares the JobExecutionRun request.
        func (client BaseClient) JobExecutionRunPreparer(ctx context.Context, ID int32, request *ExecuteJobRequest) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/executions",pathParameters))
                if request != nil {
                preparer = autorest.DecoratePreparer(preparer,
                autorest.WithJSON(request))
                }
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobExecutionRunSender sends the JobExecutionRun request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobExecutionRunSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobExecutionRunResponder handles the response to the JobExecutionRun request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobExecutionRunResponder(resp *http.Response) (result ExecutionList, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobGet sends the job get request.
        // Parameters:
            // ID - ID of the job to export.
            // formatParameter -
    func (client BaseClient) JobGet(ctx context.Context, ID string, formatParameter string) (result ReadCloser, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobGet")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobGetPreparer(ctx, ID, formatParameter)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobGet", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobGetSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobGet", resp, "Failure sending request")
                return
                }

                result, err = client.JobGetResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobGet", resp, "Failure responding to request")
                }

        return
        }

        // JobGetPreparer prepares the JobGet request.
        func (client BaseClient) JobGetPreparer(ctx context.Context, ID string, formatParameter string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

                        queryParameters := map[string]interface{} {
            }
                if len(string(formatParameter)) > 0 {
                queryParameters["format"] = autorest.Encode("query",formatParameter)
                    } else {
                    queryParameters["format"] = autorest.Encode("query","xml")
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}",pathParameters),
        autorest.WithQueryParameters(queryParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobGetSender sends the JobGet request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobGetSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobGetResponder handles the response to the JobGet request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobGetResponder(resp *http.Response) (result ReadCloser, err error) {
        result.Value = &resp.Body
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK,http.StatusNotFound))
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobInfoGet sends the job info get request.
    func (client BaseClient) JobInfoGet(ctx context.Context, ID string) (result JobMetadata, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobInfoGet")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobInfoGetPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInfoGet", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobInfoGetSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInfoGet", resp, "Failure sending request")
                return
                }

                result, err = client.JobInfoGetResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInfoGet", resp, "Failure responding to request")
                }

        return
        }

        // JobInfoGetPreparer prepares the JobInfoGet request.
        func (client BaseClient) JobInfoGetPreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/info",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobInfoGetSender sends the JobInfoGet request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobInfoGetSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobInfoGetResponder handles the response to the JobInfoGet request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobInfoGetResponder(resp *http.Response) (result JobMetadata, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobInputFileInfoGet sends the job input file info get request.
    func (client BaseClient) JobInputFileInfoGet(ctx context.Context, ID string) (result JobInputFileInfo, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobInputFileInfoGet")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobInputFileInfoGetPreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileInfoGet", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobInputFileInfoGetSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileInfoGet", resp, "Failure sending request")
                return
                }

                result, err = client.JobInputFileInfoGetResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileInfoGet", resp, "Failure responding to request")
                }

        return
        }

        // JobInputFileInfoGetPreparer prepares the JobInputFileInfoGet request.
        func (client BaseClient) JobInputFileInfoGetPreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/jobs/file/{id}",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobInputFileInfoGetSender sends the JobInputFileInfoGet request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobInputFileInfoGetSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobInputFileInfoGetResponder handles the response to the JobInputFileInfoGet request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobInputFileInfoGetResponder(resp *http.Response) (result JobInputFileInfo, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobInputFileUpload sends the job input file upload request.
    func (client BaseClient) JobInputFileUpload(ctx context.Context, ID string, optionName string, fileName string, file io.ReadCloser) (result autorest.Response, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobInputFileUpload")
            defer func() {
                sc := -1
                if result.Response != nil {
                    sc = result.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobInputFileUploadPreparer(ctx, ID, optionName, fileName, file)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileUpload", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobInputFileUploadSender(req)
                if err != nil {
                result.Response = resp
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileUpload", resp, "Failure sending request")
                return
                }

                result, err = client.JobInputFileUploadResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileUpload", resp, "Failure responding to request")
                }

        return
        }

        // JobInputFileUploadPreparer prepares the JobInputFileUpload request.
        func (client BaseClient) JobInputFileUploadPreparer(ctx context.Context, ID string, optionName string, fileName string, file io.ReadCloser) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

                        queryParameters := map[string]interface{} {
            "fileName": autorest.Encode("query",fileName),
            "optionName": autorest.Encode("query",optionName),
            }

            preparer := autorest.CreatePreparer(
        autorest.AsContentType("octet/stream"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/input/file",pathParameters),
        autorest.WithFile(file),
        autorest.WithQueryParameters(queryParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobInputFileUploadSender sends the JobInputFileUpload request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobInputFileUploadSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobInputFileUploadResponder handles the response to the JobInputFileUpload request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobInputFileUploadResponder(resp *http.Response) (result autorest.Response, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByClosing())
        result.Response = resp
            return
        }

    // JobInputFileUpload1 sends the job input file upload 1 request.
    func (client BaseClient) JobInputFileUpload1(ctx context.Context, ID string) (result JobInputFileListResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobInputFileUpload1")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobInputFileUpload1Preparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileUpload1", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobInputFileUpload1Sender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileUpload1", resp, "Failure sending request")
                return
                }

                result, err = client.JobInputFileUpload1Responder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobInputFileUpload1", resp, "Failure responding to request")
                }

        return
        }

        // JobInputFileUpload1Preparer prepares the JobInputFileUpload1 request.
        func (client BaseClient) JobInputFileUpload1Preparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/input/files",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobInputFileUpload1Sender sends the JobInputFileUpload1 request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobInputFileUpload1Sender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobInputFileUpload1Responder handles the response to the JobInputFileUpload1 request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobInputFileUpload1Responder(resp *http.Response) (result JobInputFileListResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobList sends the job list request.
        // Parameters:
            // project - project name
            // IDList - comma separated list of Job IDs to include
            // groupPath - group or partial group path to include all jobs within that group path. Set to the special value
            // "-" to match the top level jobs only.
            // jobFilter - a filter for the job name. Matches any job name that contains this value.
            // jobExactFilter - an exact job name to match.
            // groupPathExact - an exact group path to match. Set to the special value "-" to match the top level jobs
            // only.
            // scheduledFilter - specify whether to return only scheduled or only not scheduled jobs.
            // serverNodeUUIDFilter - in cluster mode, use to select scheduled jobs assigned to the server with the given
            // UUID.
    func (client BaseClient) JobList(ctx context.Context, project string, IDList string, groupPath string, jobFilter string, jobExactFilter string, groupPathExact string, scheduledFilter *bool, serverNodeUUIDFilter string) (result ListJob, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobList")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobListPreparer(ctx, project, IDList, groupPath, jobFilter, jobExactFilter, groupPathExact, scheduledFilter, serverNodeUUIDFilter)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobList", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobListSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobList", resp, "Failure sending request")
                return
                }

                result, err = client.JobListResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobList", resp, "Failure responding to request")
                }

        return
        }

        // JobListPreparer prepares the JobList request.
        func (client BaseClient) JobListPreparer(ctx context.Context, project string, IDList string, groupPath string, jobFilter string, jobExactFilter string, groupPathExact string, scheduledFilter *bool, serverNodeUUIDFilter string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "project": autorest.Encode("path",project),
                }

                        queryParameters := map[string]interface{} {
            }
                if len(IDList) > 0 {
                queryParameters["idList"] = autorest.Encode("query",IDList)
                }
                if len(groupPath) > 0 {
                queryParameters["groupPath"] = autorest.Encode("query",groupPath)
                    } else {
                    queryParameters["groupPath"] = autorest.Encode("query","*")
                }
                if len(jobFilter) > 0 {
                queryParameters["jobFilter"] = autorest.Encode("query",jobFilter)
                }
                if len(jobExactFilter) > 0 {
                queryParameters["jobExactFilter"] = autorest.Encode("query",jobExactFilter)
                }
                if len(groupPathExact) > 0 {
                queryParameters["groupPathExact"] = autorest.Encode("query",groupPathExact)
                }
                if scheduledFilter != nil {
                queryParameters["scheduledFilter"] = autorest.Encode("query",*scheduledFilter)
                }
                if len(serverNodeUUIDFilter) > 0 {
                queryParameters["serverNodeUUIDFilter"] = autorest.Encode("query",serverNodeUUIDFilter)
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/project/{project}/jobs",pathParameters),
        autorest.WithQueryParameters(queryParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobListSender sends the JobList request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobListSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobListResponder handles the response to the JobList request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobListResponder(resp *http.Response) (result ListJob, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result.Value),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobRetryExecution sends the job retry execution request.
    func (client BaseClient) JobRetryExecution(ctx context.Context, jobID string, executionID int32, request *RetryExecutionRequest) (result ExecutionList, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobRetryExecution")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobRetryExecutionPreparer(ctx, jobID, executionID, request)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobRetryExecution", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobRetryExecutionSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobRetryExecution", resp, "Failure sending request")
                return
                }

                result, err = client.JobRetryExecutionResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobRetryExecution", resp, "Failure responding to request")
                }

        return
        }

        // JobRetryExecutionPreparer prepares the JobRetryExecution request.
        func (client BaseClient) JobRetryExecutionPreparer(ctx context.Context, jobID string, executionID int32, request *RetryExecutionRequest) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "executionID": autorest.Encode("path",executionID),
                "jobID": autorest.Encode("path",jobID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{jobID}/retry/{executionID}",pathParameters))
                if request != nil {
                preparer = autorest.DecoratePreparer(preparer,
                autorest.WithJSON(request))
                }
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobRetryExecutionSender sends the JobRetryExecution request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobRetryExecutionSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobRetryExecutionResponder handles the response to the JobRetryExecution request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobRetryExecutionResponder(resp *http.Response) (result ExecutionList, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobScheduleBulkDisable sends the job schedule bulk disable request.
    func (client BaseClient) JobScheduleBulkDisable(ctx context.Context, jobScheduleBulkDisableRequest JobScheduleBulkDisableRequest) (result JobBulkOperationResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobScheduleBulkDisable")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: jobScheduleBulkDisableRequest,
                 Constraints: []validation.Constraint{	{Target: "jobScheduleBulkDisableRequest.Ids", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("rundeck.BaseClient", "JobScheduleBulkDisable", err.Error())
                }

                    req, err := client.JobScheduleBulkDisablePreparer(ctx, jobScheduleBulkDisableRequest)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleBulkDisable", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobScheduleBulkDisableSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleBulkDisable", resp, "Failure sending request")
                return
                }

                result, err = client.JobScheduleBulkDisableResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleBulkDisable", resp, "Failure responding to request")
                }

        return
        }

        // JobScheduleBulkDisablePreparer prepares the JobScheduleBulkDisable request.
        func (client BaseClient) JobScheduleBulkDisablePreparer(ctx context.Context, jobScheduleBulkDisableRequest JobScheduleBulkDisableRequest) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/jobs/schedule/disable"),
        autorest.WithJSON(jobScheduleBulkDisableRequest))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobScheduleBulkDisableSender sends the JobScheduleBulkDisable request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobScheduleBulkDisableSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobScheduleBulkDisableResponder handles the response to the JobScheduleBulkDisable request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobScheduleBulkDisableResponder(resp *http.Response) (result JobBulkOperationResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobScheduleBulkEnable sends the job schedule bulk enable request.
    func (client BaseClient) JobScheduleBulkEnable(ctx context.Context, jobScheduleBulkEnableRequest JobScheduleBulkEnableRequest) (result JobBulkOperationResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobScheduleBulkEnable")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
                if err := validation.Validate([]validation.Validation{
                { TargetValue: jobScheduleBulkEnableRequest,
                 Constraints: []validation.Constraint{	{Target: "jobScheduleBulkEnableRequest.Ids", Name: validation.Null, Rule: true, Chain: nil }}}}); err != nil {
                return result, validation.NewError("rundeck.BaseClient", "JobScheduleBulkEnable", err.Error())
                }

                    req, err := client.JobScheduleBulkEnablePreparer(ctx, jobScheduleBulkEnableRequest)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleBulkEnable", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobScheduleBulkEnableSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleBulkEnable", resp, "Failure sending request")
                return
                }

                result, err = client.JobScheduleBulkEnableResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleBulkEnable", resp, "Failure responding to request")
                }

        return
        }

        // JobScheduleBulkEnablePreparer prepares the JobScheduleBulkEnable request.
        func (client BaseClient) JobScheduleBulkEnablePreparer(ctx context.Context, jobScheduleBulkEnableRequest JobScheduleBulkEnableRequest) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsContentType("application/json; charset=utf-8"),
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/jobs/schedule/enable"),
        autorest.WithJSON(jobScheduleBulkEnableRequest))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobScheduleBulkEnableSender sends the JobScheduleBulkEnable request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobScheduleBulkEnableSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobScheduleBulkEnableResponder handles the response to the JobScheduleBulkEnable request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobScheduleBulkEnableResponder(resp *http.Response) (result JobBulkOperationResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobScheduleDisable sends the job schedule disable request.
    func (client BaseClient) JobScheduleDisable(ctx context.Context, ID string) (result JobScheduleDisableOKResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobScheduleDisable")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobScheduleDisablePreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleDisable", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobScheduleDisableSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleDisable", resp, "Failure sending request")
                return
                }

                result, err = client.JobScheduleDisableResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleDisable", resp, "Failure responding to request")
                }

        return
        }

        // JobScheduleDisablePreparer prepares the JobScheduleDisable request.
        func (client BaseClient) JobScheduleDisablePreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/schedule/disable",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobScheduleDisableSender sends the JobScheduleDisable request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobScheduleDisableSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobScheduleDisableResponder handles the response to the JobScheduleDisable request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobScheduleDisableResponder(resp *http.Response) (result JobScheduleDisableOKResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // JobScheduleEnable sends the job schedule enable request.
    func (client BaseClient) JobScheduleEnable(ctx context.Context, ID string) (result JobScheduleEnableOKResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.JobScheduleEnable")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.JobScheduleEnablePreparer(ctx, ID)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleEnable", nil , "Failure preparing request")
        return
        }

                resp, err := client.JobScheduleEnableSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleEnable", resp, "Failure sending request")
                return
                }

                result, err = client.JobScheduleEnableResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "JobScheduleEnable", resp, "Failure responding to request")
                }

        return
        }

        // JobScheduleEnablePreparer prepares the JobScheduleEnable request.
        func (client BaseClient) JobScheduleEnablePreparer(ctx context.Context, ID string) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "id": autorest.Encode("path",ID),
                }

            preparer := autorest.CreatePreparer(
        autorest.AsPost(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/job/{id}/schedule/enable",pathParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // JobScheduleEnableSender sends the JobScheduleEnable request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) JobScheduleEnableSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // JobScheduleEnableResponder handles the response to the JobScheduleEnable request. The method always
    // closes the http.Response Body.
    func (client BaseClient) JobScheduleEnableResponder(resp *http.Response) (result JobScheduleEnableOKResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // MetricList sends the metric list request.
    func (client BaseClient) MetricList(ctx context.Context) (result MetricListOKResponse, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.MetricList")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.MetricListPreparer(ctx)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "MetricList", nil , "Failure preparing request")
        return
        }

                resp, err := client.MetricListSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "MetricList", resp, "Failure sending request")
                return
                }

                result, err = client.MetricListResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "MetricList", resp, "Failure responding to request")
                }

        return
        }

        // MetricListPreparer prepares the MetricList request.
        func (client BaseClient) MetricListPreparer(ctx context.Context) (*http.Request, error) {
            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPath("/metrics"))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // MetricListSender sends the MetricList request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) MetricListSender(req *http.Request) (*http.Response, error) {
                return autorest.SendWithSender(client, req,
                autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
                }

    // MetricListResponder handles the response to the MetricList request. The method always
    // closes the http.Response Body.
    func (client BaseClient) MetricListResponder(resp *http.Response) (result MetricListOKResponse, err error) {
        err = autorest.Respond(
        resp,
        client.ByInspecting(),
        azure.WithErrorUnlessStatusCode(http.StatusOK),
        autorest.ByUnmarshallingJSON(&result),
        autorest.ByClosing())
        result.Response = autorest.Response{Response: resp}
            return
        }

    // ProjectArchiveExportSync sends the project archive export sync request.
        // Parameters:
            // project - name of the project to import jobs into.
            // executionIds - a list (comma-separated) of execution IDs. If this is specified then the archive will contain
            // only executions that are specified, and will not contain Jobs, ACLs, or project configuration/readme files.
            // exportAll - export all project resources
            // exportJobs - export all project resources
            // exportExecutions - export all project resources
            // exportConfigs - export all project resources
            // exportReadmes - export all project resources
            // exportAcls - export all project resources
    func (client BaseClient) ProjectArchiveExportSync(ctx context.Context, project string, executionIds *bool, exportAll *bool, exportJobs *bool, exportExecutions *bool, exportConfigs *bool, exportReadmes *bool, exportAcls *bool) (result ReadCloser, err error) {
        if tracing.IsEnabled() {
            ctx = tracing.StartSpan(ctx, fqdn + "/BaseClient.ProjectArchiveExportSync")
            defer func() {
                sc := -1
                if result.Response.Response != nil {
                    sc = result.Response.Response.StatusCode
                }
                tracing.EndSpan(ctx, sc, err)
            }()
        }
            req, err := client.ProjectArchiveExportSyncPreparer(ctx, project, executionIds, exportAll, exportJobs, exportExecutions, exportConfigs, exportReadmes, exportAcls)
        if err != nil {
        err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ProjectArchiveExportSync", nil , "Failure preparing request")
        return
        }

                resp, err := client.ProjectArchiveExportSyncSender(req)
                if err != nil {
                result.Response = autorest.Response{Response: resp}
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ProjectArchiveExportSync", resp, "Failure sending request")
                return
                }

                result, err = client.ProjectArchiveExportSyncResponder(resp)
                if err != nil {
                err = autorest.NewErrorWithError(err, "rundeck.BaseClient", "ProjectArchiveExportSync", resp, "Failure responding to request")
                }

        return
        }

        // ProjectArchiveExportSyncPreparer prepares the ProjectArchiveExportSync request.
        func (client BaseClient) ProjectArchiveExportSyncPreparer(ctx context.Context, project string, executionIds *bool, exportAll *bool, exportJobs *bool, exportExecutions *bool, exportConfigs *bool, exportReadmes *bool, exportAcls *bool) (*http.Request, error) {
                pathParameters := map[string]interface{} {
                "project": autorest.Encode("path",project),
                }

                        queryParameters := map[string]interface{} {
            }
                if executionIds != nil {
                queryParameters["executionIds"] = autorest.Encode("query",*executionIds)
                }
                if exportAll != nil {
                queryParameters["exportAll"] = autorest.Encode("query",*exportAll)
                    } else {
                    queryParameters["exportAll"] = autorest.Encode("query",true)
                }
                if exportJobs != nil {
                queryParameters["exportJobs"] = autorest.Encode("query",*exportJobs)
                }
                if exportExecutions != nil {
                queryParameters["exportExecutions"] = autorest.Encode("query",*exportExecutions)
                }
                if exportConfigs != nil {
                queryParameters["exportConfigs"] = autorest.Encode("query",*exportConfigs)
                }
                if exportReadmes != nil {
                queryParameters["exportReadmes"] = autorest.Encode("query",*exportReadmes)
                }
                if exportAcls != nil {
                queryParameters["exportAcls"] = autorest.Encode("query",*exportAcls)
                }

            preparer := autorest.CreatePreparer(
        autorest.AsGet(),
        autorest.WithBaseURL(client.BaseURI),
        autorest.WithPathParameters("/project/{project}/export",pathParameters),
        autorest.WithQueryParameters(queryParameters))
        return preparer.Prepare((&http.Request{}).WithContext(ctx))
        }

        // ProjectArchiveExportSyncSender sends the ProjectArchiveExportSync request. The method will close the
        // http.Response Body if it receives an error.
        func (client BaseClient) ProjectArchiveExportSyncSender(req *http.Request) (*http.Response, error) {
[...]
